/* Pie de página */
footer {
    background-color: #162640;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-top: 20px; /* Distancia mínima antes del footer */
}

footer p {
    margin: 0;
}